.products-find-us {
  background-color: #E8E8E8;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  margin-top: 20px;
}

.products-find-us p {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.88;
	text-align: center;
	color: #828282;
}

.products-find-us a {
  height: 72px;
	border-radius: 37px;
	background-color: #d7404f;
  line-height: 72px;
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'AmsiProCond';
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
  text-transform: uppercase;
  width: 258px;
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.products-find-us a:hover {
  background-color: #463F3B;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


.recipe-hdr {
  font-family: 'AmsiProCond';
	font-size: 20px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.2;
	letter-spacing: 6.8px;
	color: #635f5c;
}

.contains-txt {
  font-family: 'AmsiProCond';
  font-size: 25px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.68;
	color: #888888;
}
