<section class="section" data-module="distortedButtons">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-filters">
						<defs>
							<filter id="filter-goo-2">
								<feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur" />
								<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
								<feComposite in="SourceGraphic" in2="goo" />
							</filter>
						</defs>
					</svg>
					<button id="component-2" class="button button--2" style="filter: url('#filter-goo-2')">
						Click me
						<span class="button__bg"></span>
					</button>
				</section>
